In [1]:
import pandas as pd

In [2]:
pd.DataFrame()

Empty DataFrame
Columns: []
Index: []

In [3]:
import numpy as np

In [4]:
labels =  ['a','b', 'c']
my_data = [10, 20, 30]
arr =  np.array(my_data)
d = {"a":10, "b":20,"c":30}

In [5]:
pd.Series(data=my_data)

0    10
1    20
2    30
dtype: int64

In [6]:
pd.Series(data=my_data, index=labels)

a    10
b    20
c    30
dtype: int64

In [9]:
pd.Series(arr,labels)

a    10
b    20
c    30
dtype: int64

In [10]:
ser1 = pd.Series([1,2,3,4],["USA", "GERMANY", "USSR","JAPAN"])

In [11]:
ser1

USA        1
GERMANY    2
USSR       3
JAPAN      4
dtype: int64

In [12]:
ser2 =  pd.Series([1,2,3,4], ["USA","GERMANY", "ITALY","JAPAN"])

In [13]:
ser2

USA        1
GERMANY    2
ITALY      3
JAPAN      4
dtype: int64

In [14]:
ser1 + ser2

GERMANY    4.0
ITALY      NaN
JAPAN      8.0
USA        2.0
USSR       NaN
dtype: float64

**Because italy and ussr dont have a match they are set to be not a number. pandas series will perform operation such as add based of the index**